<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - network2 </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/login.css" />
</head>
<body >
<div class="parent" style="background: url(../login-background4.jpg); background-size: 100%;">
    
    <div class="block text-break shadow-lg invisible">
    </div>

    <div class="block text-break shadow-lg" style="position: relative">       
        @RenderBody()
    </div>
</div>
</body>
</html>
